<div>
    <div class="Rectangle-26-Copy-23">
        <mat-form-field class="">
        <mat-label>Select your news</mat-label>
        <mat-select>
            <mat-option value="angular" (click)="loadAngularItems()">
                <span class="row">
                    <img src="assets/icons/image-138.png" srcset="assets/icons/image-138@2x.png 2x, assets/icons/image-138@3x.png 3x"
                        class="Image-138 col-5">
                    <span class="Angular col-7">
                        Angular
                    </span>
                </span>
            </mat-option>
            <mat-option value="reacts" (click)="loadReactItems()">
                <img src="assets/icons/image-140.png" srcset="assets/icons/image-140@2x.png 2x, assets/icons/image-140@3x.png 3x"
                    class="Image-140 col-5">
                <span class="Reacts col-7">
                    Reacts
                </span>
            </mat-option>
            <mat-option value="vuejs" (click)="loadVueItems()">
                <img src="assets/icons/image-141.png" srcset="assets/icons/image-141@2x.png 2x, assets/icons/image-141@3x.png 3x"
                    class="Image-141 col-5">
                <span class="Vuejs col-7">
                    Vuejs
                </span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
</div>
<div>
    <app-item-card *ngIf="items.length > 0" [items]="items"></app-item-card>
</div>

