.Rectangle-26-Copy-23 {
    margin: 3.938rem 7.125rem 0.063rem 9.375rem;
}

.Rectangle-26-Copy-23 .mat-mdc-text-field-wrapper {
    background-color: #fff;
}

.Rectangle {
    width: 15rem;
    height: 8.688rem;
    margin: 0 0 0 0.063rem;
    padding: 0.938rem 9rem 0.75rem 0.625rem;
    box-shadow: 0 2px 2px 0 #dad8d8;
    background-color: #fff;
}

img.Image-138,
img.Image-140,
img.Image-141 {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.Angular,
.Reacts,
.Vuejs {
    width: 3.063rem;
    height: 1.375rem;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
}