<div>
    <mat-form-field class="Rectangle-26-Copy-23">
        <mat-label></mat-label>
        <mat-select>
            <mat-option label="Select your news"></mat-option>
            <mat-option value="angular">
                <span class="container row">
                    <img src="assets/icons/image-138.png" srcset="img/image-138@2x.png 2x, img/image-138@3x.png 3x"
                        class="Image-138">
                    <span class="Angular">
                        Angular
                    </span>
                </span>
            </mat-option>
            <mat-option value="reacts">
                <img src="assets/icons/image-140.png" srcset="img/image-140@2x.png 2x, img/image-140@3x.png 3x"
                    class="Image-140">
                <span class="Reacts">
                    Reacts
                </span>
            </mat-option>
            <mat-option value="vuejs">
                <img src="assets/icons/image-141.png" srcset="img/image-141@2x.png 2x, img/image-141@3x.png 3x"
                    class="Image-141">
                <span class="Vuejs">
                    Vuejs
                </span>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

